.page {
 background-color: #D3143A;
 color: white
}

.calendar-container {
  display: flex;
  justify-content: center;
  padding-bottom: 64px;
}

.calendar {
  border: solid 1px #777;
  width: 1400px;
  max-width: 100%;
  height: 600px;
  max-height: 70%;
}

.calendar-header {
  font-size: 48px;
}

.calendar-header-2 {
  font-size: 24px;
  margin-bottom: 15px
}