.page {
  background-color: #8E1DE6;
  color: white;
  height: 100%;
}

.header {
  font-size: 48px
}

.white-text {
  color: white;
}

.projects-container {
  color: black;
  width: 1000px;
  max-width: 90% 
}