.page {
  background-color: #0A44CB;
  color: white;
  height: 100%;
}

.top-container {
  height: 600px;
  align-items: center;
}

.landing-img {
  width: 350px;
  max-width: 100%
}

.header-text-container {
  width: 600px;
  max-width: 100% 
}

.header-container {
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
}

.align-left {
  text-align: left;
}

.values-list {
  list-style: none;
  text-align: left;
  padding-inline-start: 0;
}